/* Style page content */
body {
  margin-left: 170px; /* Same as the width of the sidebar + 10 */
  padding: 0px 10px;
  font-family: 'Nunito', sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'Patua One', cursive;
  font-size: 25px;
  color: #d5ae2e;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

h1, h2 {
  font-family: 'Patua One', cursive;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.emojilink {
  text-decoration: none;
  font-size: x-large;
  margin: 5px;
}

.listTable {
  border-collapse: collapse;
}

.listTD {
  border-bottom-style: dotted;
}

.emojiTD {
  text-align: center;
}

button {
  float: right;
}

#error {
  font-weight: bold;
  font-size: larger;
  color: darkred;
}

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  body {
    margin-left: 110px; /* Same as the width of the sidebar + 10 */
  }
  .sidenav {
    padding-top: 15px;
    width: 100px;
  }
  .sidenav a {
    font-size: x-large;
    padding: 6px 8px 20px 16px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  td {
    display: block;
  }
  .listTD:nth-child(1) {
    border-bottom-style: none;
  }
  .listTD:nth-child(2) {
    text-align: right;
  }
  .emojiTD {
    display: inline-table;
    margin: auto 16px auto auto;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    margin-left: 180px; /* Same as the width of the sidebar + 10 */
  }
  .sidenav {
    padding-top: 15px;
    width: 170px;
  }
  .sidenav a {
    padding: 6px 8px 16px 16px;
  }
  td {
    display: block;
  }
  .listTD:nth-child(1) {
    border-bottom-style: none;
  }
  .listTD:nth-child(2) {
    text-align: right;
  }
  .emojiTD {
    display: inline-table;
    margin: auto 16px auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */