extends layout

block content
    include viewCar
        
    h1 Tilføj reparation
    form(action="addRepair", method="POST")
        |Reparation:
        input(type="text", name="repair")
        br
        |Dato:
        input(type="date", name="date")
        br
        |Repareret:
        select(name="repaired")
            option(value="false") Nej
            option(value="true") Ja
        br
        input(type="hidden", name="_id", value=car._id)
        button(type="submit") TILFØJ

    .grid-container
        .grid-item
            include viewDamages
        .grid-item
            include viewRepairs