table
          tr
              td #[strong Mærke:]
              td
                  input(type="text", name="brand" value=(car!==undifined&&car.brand!==undifined)?car.brand:'',placeholder='Mærke')
          tr
              td #[strong Model:]
              td
                  input(type="text", name="model" value=(car!==undifined&&car.model!==undifined)?car.model:'',placeholder='Model')
          tr
              td #[strong Nummerplade:]
              td
                  input(type="text", name="licensePlate" value=(car!==undifined&&car.licensePlate!==undifined)?car.licensePlate:'',placeholder='Nummerplade')
          tr
              td #[strong Farve:]
              td
                  input(type="text", name="colour" value=(car!==undifined&&car.colour!==undifined)?car.colour:'',placeholder='Farve')
          tr
              td #[strong Motor:]
              td
                  input(type="text", name="engine" value=(car!==undifined&&car.engine!==undifined)?car.engine:'',placeholder='Motor')
          tr
              td #[strong Årgang:]
              td
                  input(type="text", name="year" value=(car!==undifined&&car.year!==undifined)?car.year:'',placeholder='Årstal')
          tr
              td #[strong Kælenavn:]
              td
                  input(type="text", name="nickName" value=(car!==undifined&&car.nickName!==undifined)?car.nickName:'', placeholder='Kælenavn' )
          tr
              td #[strong Skrottet:]
              td
                  select(name="retired")
                      option(value="false", selected=(car!==undifined)? car.retired == false:retired = false) Nej
                      option(value="true", selected= (car!==undifined)? car.retired == true:retired = true) Ja
input(type="hidden", name="_id", value=(car!==undifined&&car._id!==undifined)?car._id:'')