extends layout

block content
    h1 Biler
    table
        each car in cars
            tr
                td(colspan=2)
                    if car.nickName
                        br
                        |#[strong Kælenavn:] #{car.nickName}
                    br
                    |#[u #{car.licensePlate}]
            tr
                td.emojiTD
                    a(href="/biler/redigerBil/" + car._id, class='emojiLink') ✏️
                td.emojiTD
                    a(href="/reparation/" + car._id, class='emojiLink') 🔧