extends layout

block content
    h1 Opret bil
    form(action="opretBil", method="POST")
        table
            tr
                td #[strong Mærke:]
                td
                    input(type="text", name="brand")
            tr
                td #[strong Model:]
                td
                    input(type="text", name="model")
            tr
                td #[strong Nummerplade:]
                td
                    input(type="text", name="licensePlate")
            tr
                td #[strong Farve:]
                td
                    input(type="text", name="colour")
            tr
                td #[strong Motor:]
                td
                    input(type="text", name="engine")
            tr
                td #[strong Årgang:]
                td
                    input(type="text", name="year")
            tr
                td #[strong ID:] (Skal være et tal)
                td
                    input(type="text", name="id")
            tr
                td #[strong Skrottet:]
                td
                    select(name="retired")
                        option(value="false", retired = false) Nej
                        option(value="true", retired = true) Ja
        button(type="submit") OPRET