extends layout

block content
    h1 Opret bil
    form(action="opretBil", method="POST")
        table
            tr
                td Mærke:
                td
                    input(type="text", name="brand")
            tr
                td Model:
                td
                    input(type="text", name="model")
            tr
                td Nummerplade:
                td
                    input(type="text", name="licensePlate")
            tr
                td Farve:
                td
                    input(type="text", name="colour")
            tr
                td Motor:
                td
                    input(type="text", name="engine")
            tr
                td Årgang:
                td
                    input(type="text", name="year")
            tr
                td ID: (Skal være et tal)
                td
                    input(type="text", name="id")
            tr
                td Skrottet:
                td
                    select(name="retired")
                        option(value="false", retired = false) Nej
                        option(value="true", retired = true) Ja
        button(type="submit") OPRET