extends layout

block content
    h1 Opret bil
    form(action="opretBil", method="POST")
        table
            tr
                td Mærke:
                td
                    input(type="text", name="brand")
            tr
                td Model:
                td
                    input(type="text", name="model")
            tr
                td Nummerplade:
                td
                    input(type="text", name="licensePlate")
            tr
                td Farve:
                td
                    input(type="text", name="colour")
            tr
                td ID:
                td
                    input(type="text", name="id")
            tr
                td Skrottet? (tast enten "true" eller "false" *dette ændres*):
                td
                    input(type="text", name="retired")
        button(type="submit") OPRET