html
    style
        include ../styles/css/app.css
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Patua+One|Nunito')
        
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NT-tag Flådestyring
        .sidenav
            a(href='/biler') Biler
            a(href='/biler/opretBil') Opret bil
            a(href='/person') Personer
            a(href='/statistik') Statistik
    body
        block content