html
    style
        include ../styles/css/app.css
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Patua+One|Nunito')
        
    head
        title NT-tag Flådestyring
        .sidenav
            a(href='/biler') Biler
            a(href='/biler/opretBil') Opret bil
            //- a(href='/biler/redigerBil') Rediger bil
    body
        include errorMessage
        block content