html
    style
        include ../styles/css/app.css
    head
        title NT-tag Flådestyring
        .topnav
        a(href='/biler') Biler
        a(href='/andet') Andet
    body
        block content