html
    style
        include ../styles/css/app.css
    head
        title NT-tag Flådestyring
        .topnav
        // De her to gør ikke noget lige nu, de er mest til testformål
        a(href='/biler') Biler
        a(href='/andet') Andet
    body
        block content