html
    style
        include ../styles/css/login.css
block content
    .log-form
        h2 Login
            form
                input(type='text' title='username' placeholder='username')
                input(type='password' title='username' placeholder='password')
                button.btn(type='submit') Login

