html
  style
    include ../styles/css/login.css

  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .login
      h1 Login
      form(method='post')
        input(type='text' name='u' placeholder='Username' required='required')
        input(type='password' name='p' placeholder='Password' required='required')
        button.btn.btn-primary.btn-block.btn-large(type='submit') Log ind