extends layout

block content
    include viewCar
    .grid-container
        .grid-item
            include addRepair
            include viewRepairs
        .grid-item
            include addDamage
            include viewDamages