extends layout

block content
    .grid-container
        .grid-item
            include viewCar
        .grid-item
            include inspection
    .grid-container
        .grid-item
            include addRepair
            include viewRepairs
        .grid-item
            include addDamage
            include viewDamages