h2 Skader
table
    each dam in car.damages
        tr
            td #[strong Skade:] #{dam.damage}
                br
                |#[strong Dato:] #{dam.date.toDateString()}
                br
                if dam.repaired
                    |#[strong Repareret:] #{'Ja'}
                else
                   |#[strong Repareret:]  #{'Nej'}
                br
                |---------------------------
            td
                a(href="/biler/redigerSkade/" + car._id, class='emojiLink') ✏️