h2 Reparationer
table.listTable
    each rep in car.repairs
        tr
            td.listTD #[strong Reparation:] #{rep.repair}
                br
                |#[strong Dato:] #{rep.date.toLocaleDateString()}
                br
                if rep.repaired
                    |#[strong Repareret:] Ja
                else
                   |#[strong Repareret:] Nej
            td.listTD
                a(href="/biler/redigerReparation/" + rep._id, class='emojiLink') ✏️