h2 Reparationer
table
    each rep in car.repairs
        tr
            td Reparation: #{rep.repair}
                br
                |Dato: #{rep.date.toDateString()}
                br
                |Repareret: #{rep.repaired}