h2 Reparationer
- let carRep = car.repairs.sort(function(a,b){
    - let c = new Date(a.date);
    - let d = new Date(b.date);
    - return c-d;
- })
table.listTable
    each rep in car.repairs
        tr
            td.listTD #[b Reparation:] #{rep.repair}
                br
                | #[b Dato:] #{(rep.date) ? rep.date.toLocaleDateString() : ''}

                br
                if rep.repaired
                    |#[b Repareret:] Ja
                else
                    |#[b Repareret:] Nej
            td.listTD
                a(href="/redigerReparation/" + rep._id, class='emojiLink') ✏️