h2 Skader
- let carDam = car.damages.sort(function(a,b){
    - let c = new Date(a.date);
    - let d = new Date(b.date);
    - return c-d;
- });
table.listTable
    each dam in carDam
        tr
            td.listTD
                | #[b Skade:] #{dam.damage}
                br
                | #[b Dato:] #{dam.date.toLocaleDateString()}
                br
                if dam.repaired
                    | #[b Repareret:] Ja
                else
                    | #[b Repareret:] Nej
            td.listTD
                a(href="/redigerSkade/" + dam._id, class='emojiLink') ✏️