h2 Reparationer
table
    each rep in car.repairs
        tr
            td #[strong Reparation:] #{rep.repair}
                br
                |#[strong Dato:] #{rep.date.toDateString()}
                br
                |#[strong Repareret:] #{rep.repaired}