h2 Skader
table.listTable
    each dam in car.damages
        tr
            td.listTD #[strong Skade:] #{dam.damage}
                br
                |#[strong Dato:] #{dam.date.toDateString()}
                br
                if dam.repaired
                    |#[strong Repareret:] Ja
                else
                   |#[strong Repareret:] Nej
            td.listTD
                a(href="/redigerSkade/" + dam._id, class='emojiLink') ✏️