extends ../layout

block content
    include statistics
    h2 Biler
    table
        each car in cars
            tr
                td
                    if car.nickName
                        | #{car.nickName}
                    else if car.licensePlate
                        | #{car.licensePlate}
                    else
                        | #{car.colour}
                td.emojiTD
                    a(href="/statistik/biler/" + car._id, class='emojiLink') 🔍