extends ../layout

block content
    include statistics
    h2 Tøj
    table
        each piece in clothes
            tr
                td 
                    if piece.brand
                        | #{piece.brand}
                    if piece.name
                        |  #{piece.name}
                    if piece.size
                        |  str. #{piece.size}
                td.emojiTD
                    a(href="/statistik/toj/" + piece._id, class='emojiLink') 🔍