extends ../layout

block content
    include statistics
    h2 Tøj
    table
        each piece in clothes
            tr
                td #{piece.brand} #{piece.name} str. #{piece.size}
                td.emojiTD
                    a(href="/statistik/toj/" + piece._id, class='emojiLink') 🔍